services:
  db:
    image: helvetia/postgres:dev
    container_name: helvetia-db
    environment:
      POSTGRES_USER: helvetia
      POSTGRES_PASSWORD: helvetia
      POSTGRES_DB: helvetia
    ports:
      - "5432:5432"       # for local dev; optional
    networks:
      - helvnet
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/postgres/logical:/docker-entrypoint-initdb.d/logical
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

  app:
    image: helvetia/server:latest
    container_name: helvetia-app
    ports:
      - "8080:8080"       # for local dev; optional
    depends_on:
      - db
    environment:
      BIND_ADDR: "0.0.0.0"
      DB_URL: "jdbc:postgresql://db:5432/helvetia"
      DB_USER: "helvetia"
      DB_PASS: "helvetia"
    networks:
      - helvnet

volumes:
  pgdata:

networks:
  helvnet:
