services:
  db:
    image: helvetia/mysql:dev
    container_name: helvetia-db
    environment:
      MYSQL_ROOT_PASSWORD: helvetia
      MYSQL_DATABASE: helvetia
      MYSQL_USER: helvetia
      MYSQL_PASSWORD: helvetia
    ports:
      - "3306:3306"       # for local dev; optional
    networks:
      - helvnet
    volumes:
      - mysqldata:/var/lib/mysql

  app:
    image: helvetia/server:latest
    container_name: helvetia-app
    ports:
      - "8080:8080"       # for local dev; optional
    depends_on:
      - db
    environment:
      BIND_ADDR: "0.0.0.0"
      DB_URL: "jdbc:mysql://db:3306/helvetia"
      DB_USER: "helvetia"
      DB_PASS: "helvetia"
    networks:
      - helvnet

volumes:
  mysqldata:

networks:
  helvnet:
