global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/prometheus-rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:

  - job_name: vttablets
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      # Only keep containers with 'vttablet' in the name
      - source_labels: [__meta_docker_container_name]
        regex: '.*vttablet.*'
        action: keep
      # Use container name as instance label
      - source_labels: [__meta_docker_container_name]
        regex: '/(.*)'
        target_label: instance
      # Set scrape address to container IP:8080
      - source_labels: [__meta_docker_network_ip]
        regex: '(.+)'
        replacement: '${1}:8080'
        target_label: __address__