global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/prometheus-rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:

  - job_name: vttablets
    static_configs:
      - targets:
          # add the tablet services you care about (HTTP port is 8080 inside the network)
          - vttablet_user_cell1_primary:8080
          - vttablet_user_cell1_replica:8080
          - vttablet_user_cell2_primary:8080
          - vttablet_user_cell2_replica:8080
          # add more tablet services as needed (article/read/beread/popularrank)